{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 ">
                <div class="bx bx-home-alt">
                    <div class="form-group">
                        <h1>Мера</h1>
                        <form method="post">{% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-light">NEXT</button>
{#                             <a type="submit" href="{% url 'add_measure_form' %}" >Добавить еще меру</a>#}
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}